# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
## package.json
package-lock.json
.tmp/serve/app/index.css
.tmp/serve/app/index.html
.tmp/serve/app/index.module.js
doc/.DS_Store
src/app/common/theme/.DS_Store
.tmp/serve/index.html
.project
.arcconfig
bower_components/
coverage/
.sass-cache/
.idea/
.tmp/
dist/
build-pre/
.DS_Store
karma.conf.js
package-lock.json
.yo-rc.json
.vscode/
dist.tar
dist.tar.gz
node_modules.tar.gz
dist.zip
src/assets/images/.DS_Store
*/.DS_Store
deploy_conf/config.js
deploy_conf/
gulp/server.js
