<div class="pui-modal modal confirm" >
    <div class="modal-dialog senior-expand-modal">
        <div class="modal-header">
            <div class="modal-title">条件扩展</div>
            <div class="modal-close-icon" ng-click="fn.dismiss()"></div>
        </div>
        <div class="modal-body">
            <div class="right-content">
                    <div>
                            <pui-checkbox
                                ng-model="root.allSelected"
                                ng-change="fn.selectAll()"
                                data-indeterminate="root.showIndeterminate"
                                >
                            </pui-checkbox>
                            <label>全选</label>
                        </div>
                        <div class="pdl10 mgt10">
                            <div ng-repeat="item in data.currentTree.nodeTree">
                                    <pui-checkbox
                                    ng-model="item.isChecked"
                                    ng-change="fn.toggleNode(item)"
                                    data-indeterminate="item.showIndeterminate"
                                    >
                                </pui-checkbox>
                                <label ng-bind="item.labelName"></label>
                                <div class="pdl10 clearfix ">
                                        <div class="pull-left mgl10" ng-repeat="v in item.child">
                                                <pui-checkbox
                                                ng-model="v.isChecked"
                                                ng-change="fn.toggleNode(v)"
                                                >
                                            </pui-checkbox>
                                            <label ng-bind="v.labelName"></label>
                                        </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
        <div class="modal-footer">
            <pui-button class="cancel-btn" on-click="fn.dismiss()">取消</pui-button>
            <pui-button class="confirm-btn" type="primary" on-click="fn.sure()">确定</pui-button>
        </div>
    </div>
</div>
