<div class="pui-modal modal confirm" >
    <div class="modal-dialog attention-node-modal">
        <div class="modal-header">
            <div class="modal-title">关注理由</div>
            <div class="modal-close-icon" ng-click="fn.dismiss()"></div>
        </div>
        <div class="modal-body">
            <div class="edge-box">
                <pui-textarea placeholder="请输入关注理由" ng-model="data.attentionReason" ng-change="fn.inputWords()"></pui-textarea>
                <span><i class="words-num" ng-bind="data.wordsNum">0</i> / <i>100</i></span>
            </div>
        </div>
        <div class="modal-footer">
            <pui-button class="cancel-btn" on-click="fn.dismiss()">取消</pui-button>
            <pui-button class="confirm-btn" type="primary" on-click="fn.sure()">确定</pui-button>
        </div>
    </div>
</div>
