<div class="other-manager-main">
    <div class="w100 h100" ng-if="vm.type === 'p_7_1'" ng-include="'app/main/admin/other/logoManager/index.html'" ng-controller="logoController as vm"></div>
    <div class="w100 h100" ng-if="vm.type === 'p_7_2'" ng-include="'app/main/admin/other/loginLogoManager/index.html'" ng-controller="loginLogoController as vm"></div>
    <div class="w100 h100" ng-if="vm.type === 'p_7_4'" ng-include="'app/main/admin/other/loginLogoManager/index.html'" ng-controller="loginLogoController as vm"></div>
    <!-- <div class="w100 h100" ng-if="vm.type === 'p_7_4'" ng-include="'app/main/admin/other/loginLogoLeftManager/index.html'" ng-controller="loginLogoLeftController as vm"></div> -->
</div>
