<div class="modal pui-modal size-md">
    <div class="modal-dialog am-m-modal">
        <div class="modal-header">
            <div class="modal-title">密码修改</div>
            <div class="modal-close" ng-click="fn.dismiss()"></div>
        </div>
        <div class="modal-body">
            <div class="am-m-form-group">
                <div class="am-m-form-item">
                    <div class="am-m-form-label">旧密码</div>
                    <div class="am-m-form-input-wrap">
                        <pui-input type="text" ng-model="data.oldPassword"></pui-input>
                    </div>
                </div>
            </div>
            <div class="am-m-form-group">
                <div class="am-m-form-item">
                    <div class="am-m-form-label">新密码</div>
                    <div class="am-m-form-input-wrap">
                        <pui-input type="password" ng-model="data.password"></pui-input>
                    </div>
                </div>
            </div>
            <div class="am-m-form-group">
                <div class="am-m-form-item">
                    <div class="am-m-form-label">确认密码</div>
                    <div class="am-m-form-input-wrap">
                        <pui-input type="password" ng-model="data.password2"></pui-input>
                    </div>
                </div>
            </div>
            <div class="am-m-form-right-group">
                <label>新密码要求：</label>
                <label>1.密码由至少8位字母及数字字符组成；</label>
                <label>2.不能包含全部或部分的用户账号名；</label>
                <label>3.至少包含大写字母、小写字母、数字和特殊符号中的三种；</label>
            </div>
        </div>
        <div class="modal-footer">
            <pui-button class="pull-right" on-click="fn.dismiss()">取消</pui-button>
            <pui-button type="primary" class="pull-right mgr10" on-click="fn.sure()">确定</pui-button>

        </div>
    </div>
</div>
