<div class="pui-modal modal confirm" >
    <div class="modal-dialog relation-node-modal">
        <div class="modal-header">
            <div class="modal-title">关系类型配置</div>
            <div class="modal-close-icon" ng-click="fn.dismiss()"></div>
        </div>
        <div class="modal-body">
            <pui-layout align="center" class="form-item">
                <div class="mgr10">关系类型编码</div>
                <pui-input ng-model="data.typeId" ng-style="{'width':'267px'}"></pui-input>
            </pui-layout>
            <pui-layout align="center" class="form-item">
                <div class="mgr10">关系类型名称</div>
                <pui-input ng-model="data.typeName" ng-style="{'width':'267px'}"></pui-input>
            </pui-layout>
            <pui-layout align="center" class="form-item">
                <div class="mgr10">规则描述</div>
                <pui-input ng-model="data.ruleDesc" ng-style="{'width':'267px'}"></pui-input>
            </pui-layout>
            <pui-layout align="center" class="form-item">
                <div class="mgr10">来源表</div>
                <pui-input ng-model="data.tableName" ng-style="{'width':'267px'}"></pui-input>
            </pui-layout>
            <pui-layout align="center" class="form-item">
                <div class="mgr30">关系方向</div>
                <pui-layout align="center">
                    <pui-radio class="mgr10" ng-model="data.isArrow" value="1"></pui-radio>
                    <span class="mgr10">显示</span>
                    <pui-radio class="mgr10" ng-model="data.isArrow" value="0"></pui-radio>
                    <span>不显示</span>
                </pui-layout>
            </pui-layout>
        </div>
        <div class="modal-footer">
            <pui-button class="cancel-btn" on-click="fn.dismiss()">取消</pui-button>
            <pui-button class="confirm-btn" type="primary" on-click="fn.sure()">确定</pui-button>

        </div>
    </div>
</div>
